[Unit]
Description=Update SSH keys

[Service]
Type=simple
WorkingDirectory=/srv/http/keys
Enviroment=GITHUB_TOKEN=
Enviroment=KEYS_CONFIG=/etc/keys.ini
ExecStart=/usr/bin/env python3 /usr/local/lib/keys.py

[Install]
WantedBy=multi-user.target
